################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LyricsIW/__pycache__
/LyricsIW/.cache
/.vs/
